.css-jv9gnm{
    position: fixed !important;
    margin-left: 40vw;
    margin-top: 36vh;
}
.css-17ccmxa{
    position: fixed !important;
    margin-left: 40vw;
    margin-top: 36vh;
    border-color: black !important;
    border-bottom-color: transparent !important;
    border-width: 4px!important;
}
.css-6gfdao{
    height: 6px !important;
    margin-top: 10px;
    width: 200px !important;
}
.css-6gfdao .css-1ml7rnr{
    height: 6px !important;
}